.main .container{
display: flex;
flex-direction: column;
justify-content: flex-start;
margin: 80px 120px 80px 80px;
text-align: start;
}
.main .container .main_par{
display: flex;
flex-direction: column;
margin-bottom: 70px;
}
.main_par h1{
    font-family: "Momo Trust Display", sans-serif ;
    font-size:50px ;
    color:white ;
    margin-bottom: 20px;
}
.main_par hr{
    border: none;
    border-radius: 10px;
    height: 4px;
    background-color: red;
    width: 10%;
    margin-bottom: 20px;
}
.main_par h1 span{
    font-family: "Momo Trust Display", sans-serif ;
    font-size:50px ;
    color:red ;
}
.main_par p{
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    color: gray;
}
.main .container .sub_par{
display: flex;
flex-direction: column;
}
.sub_par .sec_par{
margin-bottom: 70px;
}
.sub_par .sec_par h2{
    font-family: "Momo Trust Display", sans-serif ;
    font-size: 35px ;
    color:white;
    margin-bottom: 20px;
}
.sub_par hr{
    border: none;
    border-radius: 10px;
    height: 4px;
    background-color: red;
    width: 5%;
    margin-bottom: 20px;
}
.sub_par .sec_par p{
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    color: gray;
}
.main span{
 font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    color: red;
}