.main .container{
display: flex;
flex-direction: column;
justify-content: flex-start;
margin: 80px 120px 80px 80px;
text-align: start;
}
.main .container .tit{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.main .container .tit h2{
    color: white;
    font-family:"Momo Trust Display", sans-serif ;
    font-size: 50px;
    margin-bottom: 20px;
}
.tit hr{
    border: none;
    border-radius: 10px;
    height: 4px;
    background-color: red;
    width: 10%;
    margin-bottom: 20px;
}
.tit p{
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    color: gray;
}
.main .container .contact_info{
    display: flex;
    flex-direction: column;
}
.main .container .contact_info form{
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    border-radius: 10px;
    width: 60%;
    height: 300px;
    padding: 10px;
}