*{
margin: 0%;
padding:0 ;
box-sizing: border-box;
font-family: sans-serif;
}
body{
    background: black;
    color: white;
}
header .container{
    display: flex;
justify-content: space-between;
align-items: center;
}
header .container .logo{
display: flex;
align-items: center;

}
header .container .logo h1{
    font-family:  "Momo Trust Display", sans-serif;
    color: red;
}
header .container nav{
    margin-right: 150px;
     text-align: center;
}
header .container nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    text-align: center;
}
header .container nav ul li{
    margin: 0 20px;
}
header .container nav ul li a{
    text-decoration-line: none;
    font-size: 25px;
      font-family: "Bebas Neue", sans-serif;
      color: white;
}
header .container nav ul li a :hover{
    color: red;
}
main .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      background-image: linear-gradient(to right,   red  , black  , red );
}
main .container .main{
    display: flex;
    flex-direction: column;
   margin-top: 200px;
    margin-bottom: 200px;
}
main .container .main span{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: goldenrod;
    border: 1px solid red;
    border-radius: 15px;
    padding: 5px;
    justify-content: center;
    align-items: center;
}