*{
margin: 0%;
padding:0 ;
box-sizing: border-box;
font-family: sans-serif;
}
body{
   background-color: black;
    color: white;
}
header {
    background-color: transparent;
}
header .container{
    display: flex;
justify-content: space-between;
align-items: center;
}
header .container .logo{
display: flex;
align-items: center;

}
header .container .logo img{
    width: 50px;
    height: auto;
    margin-right: -10px;
}
header .container .logo h1{
    font-family:  "Momo Trust Display", sans-serif;
    color: red;
}
header .container nav{
    margin-right: 150px;
    text-align: center;
}
header .container .nav ul{
    display: flex;
    gap: 40px;
    list-style: none;
    align-items: center;
    text-align: center;
}
header .container .nav ul li a{
    display: inline-block;
    text-decoration-line: none;
    font-size: 20px;
      font-family: "Bebas Neue", sans-serif;
      color: white;
      transition: transform 0.3s ease, color 0.3s ease;
}
header .container .nav a:hover{
    color: red;
    transform: scale(1.1);
}




main .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      
}
main .container .main{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    margin-bottom: 100px;
    align-items: center;
}
main .container .main .magic_tit{
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    color: goldenrod;
    border: 1px solid goldenrod;
    border-radius: 25px;
    padding: 7px 20px;
    justify-content: center;
    align-items: center;
}
main .container .main h2{
    font-size: 50px;
     font-family:  "Momo Trust Display", sans-serif;
    color: white;
    margin-top: 40px;
}
main .container .main h2 .movie{
    font-size: 50px;
     font-family:  "Momo Trust Display", sans-serif;
    color: red;
}
main .container .main P{
    font-size: 20px;
    width: 500px;
    font-family: "Roboto", sans-serif ;
     margin-top: 40px;
     text-align: center;
     color: gray;
}
.home_button {
    display: flex;
    gap: 30px;
margin-top: 40px ;
}
 .home_button a{
color: red;
text-decoration: none;
font-size: 25px;
font-family: "Bebas Neue", sans-serif;
border: 2px solid red;
border-radius: 20px;
padding: 5px 10px;
transition: background 0.5s ease;
}
 .home_button a:hover{
    background-color: red;
    color: black;
    }
main .container .home_image{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    width: 80%;

}

main .container .home_image img{
    width: 100%;
    transition: 0.5s ease;
}
.home_image .content{
 width: 90%;
position: absolute;
inset: 0;
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
text-align: left;
padding: 20px;
opacity: 0;
transition: 0.5s ease;
}
.home_image:hover img{
    filter: blur(5px);
    transform: scale(1.1);
}
.home_image:hover .content{
    opacity: 1;
}
.home_image .content h3{
    font-size: 40px;
    font-family: "Momo Trust Display", sans-serif;
    color: white;
    margin-bottom: 20px;
}
.home_image .content p{
    font-size: 20px;
    color: white;
    font-family: "Roboto", sans-serif;
}


footer{
    background-color: #141414;
    margin-top: 100px;

}
footer .container h3{
    font-size: 50px;
    font-family:"Bebas Neue", sans-serif ;
    color: white;
    margin: 80px 0px 10px 0px;
}
footer .container p{
    font-size: 20px;
    color: gray;
    font-family: "Roboto", sans-serif;
    margin-bottom: 30px;
}
footer .container .footer_button{
display: flex;
justify-content: center;
align-items: center;
margin: 10px 0px 30px 0px;
}
footer .container .footer_button a{
color: black;
background-color: red;
text-decoration: none;
font-size: 25px;
font-family: "Bebas Neue", sans-serif;
border-radius: 20px;
padding: 8px 15px;
transition: background 0.5s ease;
}
footer .container .footer_button a:hover{
    background-color: black;
    color: red;
    border: 1px solid red;
}
footer .container .footer_links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3px 150px;
    margin-top: 30px;
    background-color: #1F1F1F;
}
footer .container .footer_links p{
    font-size: 15px;
    margin: 0%;
    color: gray;
    font-family: "Roboto", sans-serif;
}
footer .container .footer_links nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
footer .container .footer_links nav ul li a{
    text-decoration: none;
    color: gray;
    font-size: 15px;
    transition: color 0.3s ease;
}
footer .container .footer_links nav ul li a:hover{
    color: red;
}