*{
margin: 0%;
padding:0 ;
box-sizing: border-box;
font-family: sans-serif;
}
body{
   background-image: linear-gradient(   78deg,   #cd0000 1% , black 25% 75% , #cd0000 100%);
    color: white;
}
header {
    background-color: transparent;
}
header .container{
    display: flex;
justify-content: space-between;
align-items: center;
}
header .container .logo{
display: flex;
align-items: center;

}
header .container .logo img{
    width: 50px;
    height: auto;
    margin-right: -10px;
}
header .container .logo h1{
    font-family:  "Momo Trust Display", sans-serif;
    color: red;
}
header .container nav{
    margin-right: 150px;
     text-align: center;
}
header .container nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    text-align: center;
}
header .container nav ul li{
    margin: 0 20px;
}
header .container nav ul li a{
    text-decoration-line: none;
    font-size: 25px;
      font-family: "Bebas Neue", sans-serif;
      color: white;
}
header .container nav ul li a :hover{
    color: red;
}
main .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      
}
main .container .main{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    margin-bottom: 200px;
    align-items: center;
}
main .container .main span{
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    color: goldenrod;
    border: 1px solid goldenrod;
    border-radius: 25px;
    padding: 7px 20px;
    justify-content: center;
    align-items: center;
}
main .container .main h2{
    font-size: 50px;
     font-family:  "Momo Trust Display", sans-serif;
    color: white;
    margin-top: 40px;
}
main .container .main P{
    font-size: 20px;
    width: 500px;
    font-family: "Roboto", sans-serif ;
     margin-top: 40px;
     text-align: center;
     color: gray;
}
main .container .main .home_button{
     margin-top: 40px;
}
main .container .main .home_button button {
    padding: 10px 25px;
    color: white;
    width:auto;
    border: none;
    border-radius: 20px;
    margin:0px 30px;
}
main .container .main .home_button button a{
    text-decoration-line: none;
    color: white;
    font-size: 20px;
     font-family: "Bebas Neue", sans-serif;
}
main .container .main .home_button button.start{
    color: white;
    background: red;
}
main .container .main .home_button button.start:hover{
    background: white;
    color: red;
}
