*{
margin: 0%;
padding:0 ;
box-sizing: border-box;
font-family: sans-serif;
}
body{
   background-image: linear-gradient(   78deg,   #cd0000 1% , black 25% 75% , #cd0000 100%);
    color: white;
}
header {
    background-color: transparent;
}
header .container{
    display: flex;
justify-content: space-between;
align-items: center;
}
header .container .logo{
display: flex;
align-items: center;

}
header .container .logo img{
    width: 50px;
    height: auto;
    margin-right: -10px;
}
header .container .logo h1{
    font-family:  "Momo Trust Display", sans-serif;
    color: red;
}
header .container nav{
    margin-right: 150px;
     text-align: center;
}
header .container nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    text-align: center;
}
header .container nav ul li{
    margin: 0 20px;
}
header .container nav ul li a{
    text-decoration-line: none;
    font-size: 25px;
      font-family: "Bebas Neue", sans-serif;
      color: white;
}
header .container nav ul li a :hover{
    color: red;
}




main .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      
}
main .container .main{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    margin-bottom: 100px;
    align-items: center;
}
main .container .main .magic_tit{
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    color: goldenrod;
    border: 1px solid goldenrod;
    border-radius: 25px;
    padding: 7px 20px;
    justify-content: center;
    align-items: center;
}
main .container .main h2{
    font-size: 50px;
     font-family:  "Momo Trust Display", sans-serif;
    color: white;
    margin-top: 40px;
}
main .container .main h2 .movie{
    font-size: 50px;
     font-family:  "Momo Trust Display", sans-serif;
    color: red;
}
main .container .main P{
    font-size: 20px;
    width: 500px;
    font-family: "Roboto", sans-serif ;
     margin-top: 40px;
     text-align: center;
     color: gray;
}
main .container .main .home_button{
     margin-top: 40px;
}
main .container .main .home_button button {
    padding: 10px 25px;
    color: white;
    width:auto;
    border: none;
    border-radius: 20px;
    margin:0px 20px;
}
main .container .main .home_button button a{
    text-decoration-line: none;
    color: white;
    font-size: 20px;
     font-family: "Bebas Neue", sans-serif;
}
main .container .main .home_button button.start{
    color: white;
    background: red;
}
main .container .main .home_button button.start:hover{
    background: white;
    color: red;
}
main .container .main .home_button button.about_btn a{
    color: red;

}
main .container .main .home_button button.about_btn:hover{
    background-color: #cd0000;
}
main .container .home_image img{
    margin: 0px;
    height: 500px;
    width: 800px;
}






footer{
    background-color: black;
    margin-top: 30px;

}
footer .container h3{
    font-size: 50px;
    font-family:"Bebas Neue", sans-serif ;
    color: white;
    margin: 50px 0px 10px 0px;
}
footer .container p{
    font-size: 20px;
    color: gray;
    font-family: "Roboto", sans-serif;
    margin-bottom: 30px;
}
footer .container button{
     padding: 10px 25px;
    color: white;
    width:auto;
    border: none;
    border-radius: 20px;
    margin:0px 15px;
}
footer .container button a{
    font-size: 20px;
   font-family: "Bebas Neue", sans-serif;
    text-decoration-line: none;
    color: red;
}
footer .container .footer-bottom{
    display: flex;
    width: 100vh;
    margin: 20px auto 0px auto;
    justify-content: space-between;
    background-color: #141414;
}
footer .container .footer-bottom p{
    font-size: 15px;
    color: gray;
    font-family: "Roboto", sans-serif;
}
footer .container .footer-bottom nav ul{
    display: flex;
    list-style: none;
}